/* GERAL */
*{
    margin: 0; 
    padding: 0;
    
}
body { 
    font-family:'DM Sans', sans-serif;
    margin: 0; 
    padding: 0;
    background-color: #ffffff;
    font-size: 14px;
   
}
/* Card Deck */
.card-index { 
    background-color:white;
    border-color: white;
}


/* Navbar */
@media (max-width:991px) {
    #nav-item-logo { 
        display: none 
    }
}
.logo {
    height: 80px;
}
.menu {
    margin: auto;
    font-weight: bold;
    font-size: 16px!important; 
    
}
.item-menu {
    margin: auto;

}
.nav-link-meio{
    padding: 39px 20px 39px 20px;
    color: #494949;
    font-weight: bold;
    content: none;
}
.nav-link-meio:hover{
    background-color: rgba(102, 199, 233, 0.3);
    text-decoration: none;
    color: #494949;
    font-weight: bold;
    
   
}

/*Footer*/
.logo-redes-sociais {
    width: 25px; 
    float: right;
}
#redes-sociais {
    margin-left: auto;
}
.titulo-redes-sociais {
    text-align: right
}
#contato {
    float: left;
    width: 60%;
    color:#494949;
}
#contato a{
    
    color:#494949;
}
.div-footer {
    overflow: hidden;
}
.logo-rede-social {
    margin-right: 10px 
}
.text-color-footer {
    color: #494949;
}
/* HOME */
/* Carrossel */
.carousel-item>img { 
    width: 100%; 
    height: 450px; 
}
/* Icones */

.icones-home{
    float: left;
    
}
.icones-home>p{
    font-weight: bold;
    margin: 10px 0 0 0;
    text-align: center;
    color: #494949;
}

#icone-center{
    margin: 0 100px 0 100px;
}
#div-icones{
    display: block;
    width: 566px;
    margin: auto; 
    margin-top: 100px; 
    margin-bottom: 100px; 
    overflow: hidden; 
}

.text-center{
    overflow: hidden;
    width: 200px;
    margin: auto;
    margin-bottom: 50px;
}
.text-center h2{
   font-size: 16px;
   text-align: center;
   font-weight: bold;
   color: #494949;

}
/* Responsividade */
@media (max-width:767px){
    #div-icones{
     width: 466px;   
    }
    #icone-center{
        margin: 0 50px 0 50px;
    }

}
/* Barra */
.barra{
    width: 1110px;
    height: 1px;
    margin: auto;
    border-bottom: 1px solid #D4D4D4;
    margin:0 0 100px 0;
}

/* Noticias */
#div-noticias { 
    margin-bottom: 50px; 
    padding: 0 50px; 
    width: 100%; 
}
.div-noticias { 
    background-color: transparent; 
    border: unset; 
    text-align: center 
}
.margin-bot {
    margin-bottom: 50px
}


/*Botao cadastrar*/
.botao-nargin {
    margin-bottom: 50px
}

