/* Geral */
body { margin: 0; padding: 0; }

/* Navbar */
@media (max-width:991px){
    #nav-item-logo { display: none }
}

/* Carrossel */
#divCarrossel { margin-bottom: 50px; }
.carrosselItem>img { width: 100%; height: 450px; }

/* Card Deck */
.card-home { 
    padding: 0 50px; 
    margin-bottom: 50px; 
    margin-right: 0px;
    margin-left: 0px;
}
.card { background-color: lightgray }

/* Parceiros */
#divParceiros { margin-bottom: 50px; padding: 0 50px; width: 100%; }
.divParceiros { background-color: transparent; border: unset }
.divParceiros>img { height: 300px; }

/* Noticias */
#divNoticias { margin-bottom: 50px; padding: 0 50px; width: 100%; }
.divNoticias { background-color: transparent; border: unset; text-align: center }

/*Footer*/
.redsoc{
    width: 30px;
    padding-bottom: 15px
}