/* Geral */
body { margin: 0; padding: 0; }

/* Logo Navbar */
@media (max-width:991px){
    #nav-item-logo{ display: none }
}

/* Carrossel */
#divCarrossel { margin-bottom: 50px; }
.carrosselItem>img { width: 100%; height: 450px; }

/* Card Deck */
.cardHome { padding: 0 50px; margin-bottom: 50px; }
.card { background-color: lightgray }

/* Parceiros */
.divParceiros { margin-bottom: 50px; padding: 0 50px; width: 100%; }
.divParceirosTexto { background-color: transparent; border: unset }
.divParceirosImagem>img { height: 300px; }
.divParceirosImagem { background-color: transparent; border: unset }

/*Footer*/
.redsoc{
    width: 20px;
    height: 20px;
    color: red;
}