.img-noticias {
    width: 350px;
    height: 250px;
}
  
.img-noticias img {
    width: 350px;
    height: 250px;
    object-fit: fill;
}

.img-destaque {
    width: 800px;
    height: 400px;
}
  
.img-destaque img {
    width: 800px;
    height: 400px;
    object-fit: fill;
}

.p-logo { color: rgb(121, 204, 171); font-weight: 500; font-size: 20px; }

.borda { border: 1px solid lightgrey; }

.requerido { color: red }

#zapLabel { display: block}

#idDiv img{
    width: 350px !important;
    height: 250px;
    object-fit: fill;
}
