.img-noticias {
    width: 350px;
    height: 250px;
}
  
.img-noticias img {
    width: 350px;
    height: 250px;
    object-fit: fill;
}

.img-destaque {
    width: 800px;
    height: 400px;
}
  
.img-destaque img {
    width: 800px;
    height: 400px;
    object-fit: fill;
}

.p-logo{
    color: rgb(121, 204, 171); 
    font-weight: 500; 
    text-shadow: 1px 1px 3px black; 
    font-size: 20px; 
}

.borda{
    border: 1px solid lightgrey;
}